/* universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background: none;
    border: none;
    outline: 0;
}

/* classes */
.btn {
    border: 1px solid #000;
    padding: 1px 2px;
    cursor: pointer;
}

/* sections */
.container {
    width: 400px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    border: 1px solid #000;
    background: grey;
}


.buttons .btn {
    background: green;
    color: #fff;
    font-size: 19px;
    padding: 5px;
}

.createBtn {
    display: inline-block;
    width: 90%;

    margin: 10px 5px;
    padding: 5px;

    background: #fff;
    font-size: 20px;

}