/* universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 1.6rem;
}

input {
    outline: none;
}

button {
    background: none;
    border: none;
    outline: 0;
    transition: all 0.1s linear;
}

button:hover {
    opacity: 0.7;
}

/* classes */
.title-1 {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
}

.btn {
    border: 1px solid #000;
    padding: 1px 2px;
    cursor: pointer;
}



/* sections */
.container {
    max-width: 500px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
}



/* .buttons .btn {
    padding: 5px;
    margin-bottom: 2.4rem;

    background: green;
    color: #fff;

    font-size: 19px;
} */

.container .buttons .btn {
    display: inline-block;
    width: 90%;

    padding: 5px;

    background: #4CAF50;
    color: #fff;

    text-transform: capitalize;
    font-size: 20px;
}

.container .buttons .btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 430px) {
    .container {
        width: 90%;
        margin: auto;

    }

    .container .ingreds .ingred {


        margin-bottom: 3.8rem;
        width: 100%;
    }

    .container .ingreds .ingred .ingredName,
    .container .ingreds .ingred .ingredQuant {
        padding: 0.4rem 0.8rem;
        font-size: 2.4rem;
        width: 100%;
        flex: 1;
    }

    .container .ingreds .ingred .ingredName {
        margin-bottom: 1.6rem;
    }

    .container .buttons .btn {
        width: 100%;
        height: 5.6rem;

        margin-bottom: 2rem;
    }

}