* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    background-color: red;
}

.buttons {
    margin-top: 20px;
}