/* imports */
@import "@fortawesome/fontawesome-free/css/all.css";

/* global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    font-size: 1.6rem;
}

/* classes */
.container {
    position: relative;
    width: 90%;
    max-width: 380px;
    margin: 3rem auto 0;

    text-align: center;
}

.btn {
    width: 100%;
    height: 5.7rem;
    padding: 1.5rem;
    margin-bottom: 1.6rem;

    outline: none;
    border: none;

    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;


    background-color: rgba(0, 0, 0, 0.9);


    z-index: 1;
}

.overlay .modal {
    width: 380px;

    margin: 5rem auto 0;
    padding: 3rem 1.5rem;
    border-radius: 10px;

    background-color: #fff;
    z-index: 2;
    opacity: 1;
}

.overlay .modal .crossModalBtn {
    cursor: pointer;
}

.overlay .modal .crossModalBtn:hover {
    opacity: 0.7;
}

.overlay .modal .title-2 {
    text-align: center;
    margin-bottom: 2rem;
}

.overlay .modal .input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}

.overlay .modal .input-fields input {
    margin-bottom: 1.6rem;
    padding: 1rem;
    outline: none;
}


.overlay .modal .buttons .addIngredBtn {
    background-color: #4CAF50;
    color: #fff;
}

.overlay .modal .buttons .closeModalBtn {
    background-color: #C81F1F;
    color: #fff;
}

/* sections */
.container .buttons {
    width: 100%;
}

.container .buttons .btn:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 430px) {
    .container {
        height: 90%;
    }

    .container .ingreds .ingred {
        width: 100%;
        max-width: 370px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0.5rem 1rem;
        border: 1px solid #333;
        margin-bottom: 1rem;
    }

    .container .ingreds .ingred span[class^="ingred"] {
        font-size: 1.6rem;
    }

    .container .buttons {
        position: absolute;
        bottom: 0;
    }

    .container .buttons .addBtn {
        background-color: #4CAF50;
        color: #fff;
    }

    .container .buttons .exportBtn {
        background-color: #008FFC;
        color: #fff;
    }

    .container .buttons .clearBtn {
        background-color: #C81F1F;
        color: #fff;
    }
}